:root {
    --light: #f5f3f6;
    --light-accent: #a7a7a7;
    --primary: #2998a2;
    --dark-accent: #9d5a3e;
    --dark: #242a41;

    --default: #666;
    --success: #48a770;
    --info: #36459c;
    --warning: #c89f38;
    --danger: #f44336;

    --border-radius: .2rem;
    --border-color: #aaa;
}
html {
    line-height: 1.5em;
}
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    margin: 0;
    color: var(--dark);
}
* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}
img {
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin: .5em 0;
    border-radius: 1rem;
}
input, select, textarea, button {
    transition: all .05s;
    font-size: 1rem;
}
input[type]:not([type="button"],[type="submit"],[type="reset"],[type="range"],[type="color"],[type="radio"],[type="checkbox"]), select, textarea {
    padding: .5rem .4rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    outline: none;
    width: 100%;
}
select {
    background: #fff;
}
textarea {
    width: 100%;
    resize: vertical;
}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .link {
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    padding: calc(.5rem + 1px);
    cursor: pointer;
    background: var(--default);
    color: var(--light);
    /* text-transform: uppercase; */
    /* font-weight: 600; */
}
.link {
    background: none;
    color: inherit;
}
:is(button, input[type="button"], input[type="reset"], input[type="submit"], .button):not([disabled]):hover {
    box-shadow: inset 0 0 0 99em rgba(0, 0, 0, .15);
}
:is(button, input[type="button"], input[type="reset"], input[type="submit"], .button):not([disabled]):active {
    box-shadow: inset 0 0 0 99em rgba(0, 0, 0, .1);
}
:is(input, select, textarea):focus {
    /* box-shadow: 0 0 0 2px rgba(10, 90, 150, .3); */
    outline: none;
    border-color: #111 !important;
}
.link:hover {
    opacity: 0.85;
}
input[type="radio"], input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    border: 1px solid var(--border-color);
    width: 1.25em;
    height: 1.25em;
    border-radius: var(--border-radius);
    margin-bottom: -.25em;
}
input[type="checkbox"] {
    background: #fff no-repeat 50%;
    background-size: 80%;
}
input[type="checkbox"]:checked {
    background: var(--primary) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNGRkYnIHN0cm9rZS13aWR0aD0nNCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48cG9seWxpbmUgcG9pbnRzPScyMCA2IDkgMTcgNCAxMic+PC9wb2x5bGluZT48L3N2Zz4=') no-repeat 50%;
    background-size: 80%;
    border: none;
}
input[type="checkbox"][role="switch"] {
    position: relative;
    width: 2em;
    border-radius: 2em;
}
input[type="checkbox"][role="switch"]::before {
    content: '\a0';
    position: absolute;
    width: .9em;
    height: .9em;
    background: #ccc;
    border-radius: 2em;
    top: 50%;
    transform: translate(15%, -50%);
    transition: transform .1s;
}
input[type="checkbox"][role="switch"]:checked {
    background: var(--primary);
}
input[type="checkbox"][role="switch"]:checked::before {
    background: var(--light);
    transform: translate(100%, -50%);
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="radio"]:checked {
    box-shadow: inset 0 0 0 .35em var(--primary);
    border: none;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th {
    border-bottom: 2px solid var(--border-color);
}
.table td, th {
    padding: .5rem;
}
.table tr:not(:last-child) > td {
    border-bottom: 1px solid var(--border-color);
}
.table tbody > tr {
    transition: background-color .1s;
}
.table.striped tr:nth-child(even) {
    background-color: rgba(10, 10, 10, .03);
}
.table tbody > tr:hover {
    background-color: rgba(10, 10, 10, .06);
}
[disabled] {
    opacity: .85;
    cursor: default !important;
}
*[data-tooltip] {
    position: relative;
}
*[data-tooltip]:hover:before {
    content: attr(data-tooltip);
    position: absolute;
    background: #333;
    color: #fff;
    white-space: pre;
    display: block;
    padding: .3rem .5rem;
    pointer-events: none;
    border-radius: var(--border-radius);
    bottom: calc(100% + 1rem);
    max-width: 20rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
*[data-tooltip]:hover:after {
    content: '\a0';
    background: #333;
    position: absolute;
    display: block;
    width: .7rem;
    height: .7rem;
    bottom: calc(100% + .4rem);
    left: 50%;
    transform: rotate(45deg) translateX(-70%);
    z-index: 1;
}
*[class^='grid'], *[class*=' grid'] {
    display: grid;
}
.spread, .flex, *[class^='grid'], *[class*=' grid'] {
    gap: 1rem;
}
.grid-xs         { grid: auto / repeat(auto-fill, minmax(98px,  1fr)); }
.grid-sm         { grid: auto / repeat(auto-fill, minmax(144px, 1fr)); }
.grid-md         { grid: auto / repeat(auto-fill, minmax(192px, 1fr)); }
.grid-lg         { grid: auto / repeat(auto-fill, minmax(248px, 1fr)); }
.grid-xl         { grid: auto / repeat(auto-fill, minmax(310px, 1fr)); }
.grid-xxl        { grid: auto / repeat(auto-fill, minmax(380px, 1fr)); }
.grid-xs-fill    { grid: auto / repeat(auto-fit,  minmax(98px,  1fr)); }
.grid-sm-fill    { grid: auto / repeat(auto-fit,  minmax(144px, 1fr)); }
.grid-md-fill    { grid: auto / repeat(auto-fit,  minmax(192px, 1fr)); }
.grid-lg-fill    { grid: auto / repeat(auto-fit,  minmax(248px, 1fr)); }
.grid-xl-fill    { grid: auto / repeat(auto-fit,  minmax(310px, 1fr)); }
.grid-xxl-fill   { grid: auto / repeat(auto-fit,  minmax(380px, 1fr)); }
.grid-2 { grid: auto / repeat(2, 1fr); }
.grid-3 { grid: auto / repeat(3, 1fr); }
.grid-4 { grid: auto / repeat(4, 1fr); }
.grid-5 { grid: auto / repeat(5, 1fr); }
.grid-6 { grid: auto / repeat(6, 1fr); }
.colspan-2 { grid-column: span 2; }
.colspan-3 { grid-column: span 3; }
.colspan-4 { grid-column: span 4; }
.colspan-5 { grid-column: span 5; }
.colspan-6 { grid-column: span 6; }
.rowspan-2 { grid-row: span 2; }
.rowspan-3 { grid-row: span 3; }
.rowspan-4 { grid-row: span 4; }
.rowspan-5 { grid-row: span 5; }
.rowspan-6 { grid-row: span 6; }

.center-items {
    display: grid;
    place-items: center;
}
.gapless {
    gap: 0;
}
.spread {
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
.blocks > * {
    display: block;
}
.box {
    padding: 1rem;
    border-radius: var(--border-radius);
}
.gaps > * {
    margin-block: .5rem;
}
.shadow {
    /* box-shadow: 0 0 6px 4px rgba(0, 0, 0, .1); */
    /* box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px 1px rgba(9, 30, 66, 0.13); */
    box-shadow: 0 0 0.25rem rgba(76, 76, 76, 0.27), 0 0.25rem 1rem rgba(140, 140, 140, 0.05);
}
.bg-warning { background-color: var(--warning); }
.bg-danger { background-color: var(--danger); }
.bg-info { background-color: var(--info); }
.bg-success { background-color: var(--success); }
.bg-light {background-color: var(--light); color: #222; }
.bg-light-accent {background-color: var(--light-accent); }
.bg-primary {background-color: var(--primary); }
.bg-dark-accent {background-color: var(--dark-accent); }
.bg-dark {background-color: var(--dark); }

.bg-white { background-color: #fff!important; color: #222; }
.bg-black { background-color: #000!important; }
.bg-transparent { background-color: #00000000!important; }

.border-warning { border: 2px solid var(--warning)!important; }
.border-danger { border: 2px solid var(--danger)!important; }
.border-info { border: 2px solid var(--info)!important; }
.border-success { border: 2px solid var(--success)!important; }
.border-light { border: 2px solid var(--light)!important; }
.border-light-accent { border: 2px solid var(--light-accent)!important; }
.border-primary { border: 2px solid var(--primary)!important; }
.border-dark-accent { border: 2px solid var(--dark-accent)!important; }
.border-dark { border: 2px solid var(--dark)!important; }
